@import "./variables";

body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: dodgerblue;
  font-weight: bolder;
  color: yellow;
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  display: block;
  text-align: center;
  padding: 13px 17px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.nav-links a:hover {
  background-color: darkgray;
  color: white;
}

.toggle-btn {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: $flexDir;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.toggle-btn .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

@media screen and (max-width: 400px) {
  .nav-links {
    display: none;
    width: 100%;
  }
  .toggle-btn {
    display: flex;
  }
  .navbar {
    flex-direction: $flexDir;
    align-items: flex-start;
  }
  .nav-links ul {
    width: 100%;
    flex-direction: $flexDir;
  }
  .nav-links li a {
    padding: 0.5rem 1rem;
  }
  .nav-links.active {
    display: flex;
  }
}
